.canvasGameBoard {
    display: block; /* This ensures the canvas is block-level, allowing margin utilities to work */
    margin: auto; /* This centers the canvas horizontally */
    border: 5px solid black; /* Adjusts the border thickness and color */
    cursor:none;
}

